/* CSS stylesheet (p2)
Shi Qi Zhou - 40163947 
*/

* {
    box-sizing: border-box;
}

html,
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
    color: #2F2933;
    padding: 0;
    margin: 0;
    height: 100%;
    font-size: 1em;
    overflow-x: hidden;
    clear: both;
}

header {
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: #bdf271;
    height: fit-content;
    width: auto;
    display: block;
    text-align: center;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #2F2933;
    color: #fff;
    padding: 1em 0;
    padding-left: 5%;
}

footer a {
    color: white;
}

footer a:hover {
    color: #FFFFA6;
}

p {
    color: #2F2933;
}

a {
    text-decoration: none;
    color: #2F2933;
}

h1 {
    text-align: center;
}

nav,
.navbar {
    background-color: #01A2A6;
    color: #fff;
    padding-left: 5%;
    padding-top: 1px;
    height: 3em;
}

.nav-link {
    color: white;
    text-decoration: none;
    font-size: 1em;
    vertical-align: bottom;
    padding-right: 1em;
}

nav a:hover,
.nav-link:hover {
    color: #FFFFA6;
    text-decoration: none;
}

nav ul {
    padding: 0;
    list-style: none;
}

nav li {
    display: inline;
    padding-right: 1em;
}


/* Class level Selector */


/* Clear Table */

.row::after {
    content: "";
    clear: both;
    display: table;
}

.banner {
    height: fit-content;
    overflow: hidden;
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 0.6%;
    margin: 0em;
}

.button:hover,
.user-button:hover {
    color: #FFFFA6;
}

.user-button {
    background: #01A2A6;
    color: white;
    border: none;
    font-size: 1em;
    float: right;
    vertical-align: middle;
}

.user-button:hover {
    color: #FFFFA6;
}

.container-fluid {
    margin-top: 2%;
    margin-bottom: 2%;
    padding-bottom: 2%;
}

.img-fluid {
    margin: 0em;
    display: inline-block;
    vertical-align: middle;
}

.page-header {
    background-color: #2F2933;
    color: #fff;
    margin: auto;
    overflow: hidden;
    padding-left: 5%;
    padding-top: 0.55%;
    padding-bottom: 0.55%;
    font-size: 1.5em;
}

.page-header img {
    height: 28px;
    width: auto;
    display: inline-block;
    vertical-align: middle;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
}

.menu li {
    padding: 8px;
    margin-bottom: 7px;
    background-color: #29d9c2;
    color: #2F2933;
    font-weight: bold;
    border-radius: 0.5em;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.menu li:hover,
.menu a:hover {
    background-color: #bdf271;
    text-decoration: none;
}

.aside {
    margin-top: 2%;
    background-color: #bdf271;
    color: #2F2933;
    width: 100%;
    text-align: center;
    padding: 0.5%;
    font-size: 70%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.card-img-top {
    padding: 2em;
    height: 13rem;
    width: auto;
}

.card-bold {
    font-weight: bold;
}

.card-deck {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: .5rem;
}

.navbar {
    background-color: #01A2A6;
    color: #fff;
    padding-left: 5%;
    padding-top: 0.9%;
    height: fit-content;
}


/* ID Selector */

#logo {
    height: 6em;
}

#slogan {
    height: 3em;
}