/*
Backstore CSS stylesheet (for pages P7-P12)
Georges Grondin - 40034160
*/

/*tag-level styles*/

a {
    text-decoration: underline;
	color:#2F2933;
}

a:hover {
    color: #01A2A6;
}

html, body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
	color: #000;
    margin: 0px;
    padding: 0px;
    font-size: 1em;
    height: 100%;

}

header{
	background-color: #2F2933;
    color: #fff;
	margin: auto;
    overflow: hidden;
    padding: 0.5em 10%;
    font-size:1.5em;
}

nav {
	background-color: #01A2A6;
    color: #fff;
    margin: auto;
    overflow: hidden;
    padding-left: 10%;
    padding-right: 10%;
}

nav a{
	color: white;
	text-decoration: none;
	font-size: 1em;
	padding-right: 0.2em;
}

nav a:hover {
    color: #FFFFA6;
}

nav ul{
	padding: 0;
    list-style: none;
    float: left;
}

nav li{
    display:inline;
    padding-right: 0.7em;
}

table{
    width: 100%;
    background-color: #fff;
    overflow: scroll;
}

table, th, td {
    border: 1px solid #666;
    border-collapse: collapse;
}

td{
    height: 1.5em;
    padding-left: 0.5em;
}

th{
    height: 2em;
    background-color: #2F2933;
    color: #fff;
    text-align: left;
    padding-left: 0.5em;
}

tr:nth-child(even) {
    background-color: #eee;
}
tr:hover{
    background-color: #FFFFA6;
}

footer{
    background-color: #2F2933;
    color: #fff;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 90%;
    margin: auto;
    padding-left: 10%;

}

footer a{
	color: white;
}

footer a:hover {
    color: #FFFFA6;
}

textarea{
    width: 100%;
}



/*ID styles */
#main-block {
    margin: auto;
    width: 100%;
    padding-bottom: 4em;
    padding-left: 10%;
    padding-top: 1em;
    padding-right: 10%;
    box-sizing: border-box;
}

#main-container {
    min-height: 100%;
    position: relative;
}




/*classes*/

.button:disabled {
    background-color: #888;
    color: #fff;
    border: solid 1px #666;
}
.button:disabled:hover {
    background-color: #888;
    color: #fff;
    border: solid 1px #666;
}

.button{
    background-color: #01A2A6;
	color: #fff;
	padding: 0.7em 1em;
    border: solid 1px #29D9C2;
    border-radius: 0.5em;
    margin-top: 2em;

}
.button:hover{
    background-color: #29D9C2;
    color: #fff;
}

.button:active{
    background-color: #BDF271;
    color: #fff;
}


.container{
	width: 90%;
	margin: auto;
    overflow: hidden;
}


.inputbox {
    border-style: solid 1px #2F2933;
    padding: 0.5em;
    margin:0.2em 0px;
}

.form-container{
    float: left;
    padding: 0.5em;
    position: relative;
}

.form-large{
    margin: 2em 0;
    padding: 2em;
    background-color: #eee;
    float: left;
    width: 100%;
    box-sizing: border-box;
    
}

.logout-button {
    background-color: #BDF271;
    color: #000;
	padding: 0.7em 1em;
    border: solid 1px #2F2933;
    border-radius: 0.5em;
    float: right;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    background-image: linear-gradient(#FFFFA6,#BDF271);
}

.logout-button:hover{
    background-image: linear-gradient(#BDF271, #FFFFA6);
}

.required-fields{
    float: right;
}

.table-overflow{
    overflow-x: auto;
}

.textarea-container{
    float: left;
    width: 75%;
}

.clr{
	clear:both;
}
